{% raw %}{% load static %}{% endraw %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="csrf-token" content="{{ csrf_token }}" />
        {% raw %}<script src="{% static 'js/htmx.min.js' %}" defer></script>{% endraw %}
        <title>Django + HTMX</title>
    </head>
    {% raw %}<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}{% endblock %}
    </body>{% endraw %}
</html>
