[project]
name = "{{project_name}}"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django-environ>=0.11.2",
    "django>=5.1.4",
    "django-htmx",
    {% if database == 'postgresql' %}
    "psycopg>=3.2.3",
    "psycopg-binary>=3.2.3",
    {% endif %}
    "whitenoise>=6.8.2",
    "gunicorn>=23.0.0",
]
